---
name: CI dev

permissions: read-all

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - run: sudo apt install ghostscript imagemagick
      - name: Remove ImageMagick policy that disallows PDF conversion.
        run: |
          sudo sed -i 's/^.*policy.*coder.*none.*PDF.*//' /etc/ImageMagick-6/policy.xml
      - uses: ./.github/actions/build
