---
name: Lint

on:
  push:
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/checkout@v5
        with:
          path: TeX-Live
          persist-credentials: false
          ref: svn70897
          repository: TeX-Live/texlive-source
          sparse-checkout: texk/lcdf-typetools/lcdf-typetools-src/glyphtounicode.tex
          sparse-checkout-cone-mode: false
      - name: Move glphytounicode.tex to GitHub workspace
        shell: bash
        run: |
          mv "$GITHUB_WORKSPACE/TeX-Live/texk/lcdf-typetools/lcdf-typetools-src/glyphtounicode.tex" "$GITHUB_WORKSPACE"
      - uses: super-linter/super-linter/slim@2bdd90ed3262e023ac84bf8fe35dc480721fc1f2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IGNORE_GITIGNORED_FILES: true
          MARKDOWN_CONFIG_FILE: .markdownlint.json
          NATURAL_LANGUAGE_CONFIG_FILE: .textlintrc.json
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_GIT_COMMITLINT: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_PYTHON_RUFF: false
          YAML_CONFIG_FILE: .yamllint.yml
